body {
    background-color: #5F5F5F;
    color: #FFF3B6;
    font-family: Arial;
}
h1 {
    font-weight: normal;
}
table {
    border-collapse: collapse;
}
td {
    vertical-align: top;
    padding-bottom: 1.5em;
    padding-right: 2em;
}
tr td:first-child {
    color: white;
    font-style: italic;
    font-weight: bold;
}
img {
    width: 16px;
    margin-right: 5px;
}
.warning {
    color: #FF0018;
    font-weight: bold;
}
.data {
    color: #BFBFBF;
}
.status {
    color: #E26B4D;
    font-weight: bold;
}
